<h2>Success!</h2>

<h3> Your definition for "<%= @word.name()%>" has been added.</h3>

<ul>
  <li>Definition: <%= @definition_one%></li>
</ul>

<ul>
  <li><a href='/words/<%=@word.id()%>/definitions/new'>Add Another Definition</a> for "<%= @word.name()%>"</li>
  <li><a href='/words/<%=@word.id()%>'>Show All Definitions</a> for "<%= @word.name()%>"</li>
</ul>
